*{
    margin: 0;
}
body{
    font-family: 'Merriweather', serif;
}
/* header area style */
.banner{
    margin: 50px 140px 120px;    
    border-radius: 16px;    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.happy_new_year{
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
}
.party_celebration{
    padding: 16px 350px 200px;          
    color: #00b894;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* offer area style */
.offer_section{
    text-align: center;
    font-family: Inter;
    margin-bottom: 120px;
}
.discout{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.discout2{
    margin-top: 50px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    margin-bottom: 50px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* welcome section style */

.welcome_section{
    margin: 0px 140px;
    padding: 126px 0px 24px 126px;
    background: url(images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
}
.welcome_title{
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.welcome_details{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
}
.join_btn{
    margin-top: 50px;
    margin-left: 32px;
    padding: 16px 32px;
    color: #FFF;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border-style: none;
}
.year_img{
    padding-left: 150px;
}

/* joining section */

.join_section{
    text-align: center;
    margin: 120px 140px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.join_title{
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.join_title_color{
    color: #F00;
}

/* section 5 styles */

.section5{
    width: 1600px;
    height: 463px;
    margin: 120px 140px 120px;
    display: flex;
    justify-content: center;
}
.section5_1st{
    padding-top: 104px;
    width: 33%;
}
.section5_2nd{
    width: 33%;
}
.section5_3rd{
    padding-top: 112px;
    width: 33%;
}
.section5_title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section5_title2{
    padding-top: 16px;
    padding-bottom: 22px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.section5_details{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
}
.section5_title3{
    padding-bottom: 16px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.section5_details2{
    padding-bottom: 42px;
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}
.section5_2nd{
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 15px solid #F00;
}
.section5_img{
    padding-left: 18px;
    padding-top: 18px;
}

/* Holiday Section Style */

.holiday_title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.holiday_title2{
    text-align: center;
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}
.holiday_title2_1st_part{
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}
.holiday_details{
    margin: auto;
    width: 1068px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.holiday_design{
    margin: 120px 140px 120px;
}
.holiday_design{    
    background-image: url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
}
.holiday_design_pic2{
    position: relative;
    right: -393px;
    top: -278px;
}
.holiday_design_pic3{
    position: absolute;
    right: 400px;
}

/* protfolio section start */
.protfolio_section{
    margin: 0px 140px 120px;
}
.protfolio_gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.protfolio_title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 20px;
}
.protfolio_details{
    margin-bottom: 50px;
    width: 896px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;   
}
.portfolio_image{
    display: flex;
}
.portfolio_img{
    margin-bottom: 50px;
    width: 33%;
}

/* Subscribe Section */
.subscribe{
    margin: 0px 140px 120px;
    border-radius: 16px;
    background: #ff00000d;
}
.subscribe_child{
    text-align: center;
    padding: 80px 0px 50px 0px;
}
.subscribe_title{
    padding-top: 40px;
    padding-bottom: 22px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.subscribe_details{
    margin: auto;
    width: 896px;
    padding-bottom: 50px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
}
form > input{
    width: 340px;
}
form > input, button{
    border-style: none;
    padding: 25px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

::placeholder{
    color: #0702114d;
    padding: 25px 0px 25px 30px;
    font-family: Inter;
    font-size: 18px;

}
.subscribe_btn{
    width: 210px;
    height: 72px;    
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section Styles */

.footer_section{
    background: #070211;
    padding: 120px 140px;
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer_address{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer_social_links{
    padding: 50px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.footer_links > a{
    color: #ffffff;
    text-decoration: none;
}
.footer_copyrights{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
hr{
    height: 1px;
    background: #ffffff26;
}