*{
    margin: 0;
}
body{
    font-family: 'Merriweather', serif;
}
/* header area style */
.banner{
    margin: 50px 140px 120px;    
    border-radius: 16px;    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.happy_new_year{
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
}
.party_celebration{
    padding: 16px 350px 200px;          
    color: #00b894;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* offer area style */
.offer_section{
    text-align: center;    
}
.discout{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discout2{
    margin-top: 50px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    margin-bottom: 50px;
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}