*{
    margin: 0;
}
body{
    font-family: 'Merriweather', serif;
}
/* header area style */
.banner{
    margin: 50px 140px 120px;    
    border-radius: 16px;    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.happy_new_year{
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
}
.party_celebration{
    padding: 16px 350px 200px;          
    color: #00b894;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* offer area style */
.offer_section{
    text-align: center;
    font-family: Inter;
    margin-bottom: 120px;
}
.discout{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.discout2{
    margin-top: 50px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    margin-bottom: 50px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* welcome section style */

.welcome_section{
    margin: 0px 140px;
    padding: 126px 0px 24px 126px;
    background: url(images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
}
.welcome_title{
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.welcome_details{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
}
.join_btn{
    margin-top: 50px;
    margin-left: 32px;
    padding: 16px 32px;
    color: #FFF;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border-style: none;
}
.year_img{
    padding-left: 150px;
}

/* joining section */

.join_section{
    text-align: center;
    margin: 120px 140px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.join_title{
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.join_title_color{
    color: #F00;
}